<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoreGallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="border-left">
                    <a class="navbar-light navbar-nav nav-link" href="#" id="addPhoto">Search user</a>
                </li>
                <li class="border-left">
                    <a class="navbar-light navbar-nav nav-link" href="#" id="addPhoto">Add photo</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="addPhotoPop" style="display:none">
    <div class="container p-2" >
        <div class="custom-file col-xs-3">
            <input type="file" class="custom-file-input" id="customFileLang">
            <label class="custom-file-label" for="customFileLang">Choose file...</label>
        </div>
        <div class="custom-file col-xs-4 ml-5 ">
            <input type="text" class="form-control" placeholder="Description...">
        </div>
        <div class="custom-file text-right">
            <button type="button" class="btn badge-warning pr-5 pl-5 mr-4">Add</button>
        </div>
    </div>
</nav>

