@inject SignInManager<IdentityUser> SignInManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoreGallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">

            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav mr-auto">
                    <li class="border-left border-right">
                        <a class="navbar-light navbar-nav nav-link" href="#" id="addPhoto">Add photo</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav mr-auto">
                    <li class="border-left border-right">
                        <a class="navbar-light navbar-nav nav-link" asp-area="Identity" asp-page="/Account/Login">Add photo</a>
                    </li>
                </ul>
            }
            <ul class="navbar-nav ml-auto">
                <li class="border-right">
                    <form class="form-inline md-form form-sm active-pink-2 mt-1">
                        <input id="searchInput" class="form-control form-control-sm nav-link active-pink-2 mr-3 w-100 pl-2 pr-2 autocomplete" type="text" placeholder="Search for user..."
                               aria-label="Search">
                    </form>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>

<form enctype="multipart/form-data" asp-controller="Home" asp-action="UploadPhoto">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="addPhotoPop" style="display: none">
        <div class="container p-2">
            <div class="custom-file col-xs-3">
                <input name="Photo" class="custom-file-input" type="file">
                <label class="custom-file-label">Choose file...</label>
            </div>
            <div class="custom-file col-xs-4 ml-5 ">
                <input name="Description" class="form-control" placeholder="Description..." type="text">
            </div>
            <div class="custom-file text-right">
                <button type="submit" class="btn badge-warning pr-5 pl-5 mr-4">Add</button>
            </div>
        </div>
    </nav>
</form>


