/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #292929;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.round-borders {
    border-radius: 15px;
}

.active-pink-2 input[type=text] {
    opacity: 0.7;
    border: none;
    border-bottom: 2px solid #ffc619;
}


    .active-pink-2 input[type=text]:focus:not([readonly]) {
        opacity: 1;
        /*background-color: #f9f8f8;*/
        border: none;
        border-bottom: 1px solid #ffc107;
        box-shadow: 0 1px 0 0 #ffc107;
    }

.customInput {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-weight: bold;
    margin: 0;
}

.customLinkDiv {
    background-color: #ffc107;
    cursor: pointer;
}

    .customLinkDiv :hover {
        background-color: #ffca2c;
    }


.customSearch:hover {
    color: #ffca2c;
}


.customBin {
    color: #ffc107;
}

    .customBin:hover {
        color:red;
    }

.customBg {
    background-color: #292929;
}